// button
$justify-content-start: flex-start;
$justify-content-end: flex-end;
$height-16: 16px;

// font-size
$font-size-12: 12px;
$font-size-8: 8px;

// icon
$icon-width: 0.5em;

// message
$el-message-white-space: pre-wrap;
// messagebox
$el-messagebox-width: 460px;